{% extends "base.html" %}



{% block content %}

<h1 align="center">New Post</h1>

<form method='post' action='/newpost'>
    <label style="margin-bottom: 15px;">New Blog Title:
        <br/><input type="text" name="title" /><p class="error" style="color: red;">{{title_err}}</p><br/>
    </label>
    <label style="margin-bottom: 15px; margin-top: 25px;">New Blog Content:
        <br/><textarea cols="50" rows="10" type="text" name="body" value="{{body_err}}"></textarea><p class="error" style="color: red;">{{body_err}}</p><br/>
    </label>

    <input type="submit" value="Add New Entry" />
</form>

    
{% endblock %}