{% extends "base.html" %}



{% block content %}
<h1>Sign Up!</h1>

<form action='/signup' method='post'>
    <label>Email:
        <input name='username' type='text'/><p class='error' style='color: red;'>{{username_err}}</p>
    </label>
    <label>Password:
        <input name='password' type='password'/><p class='error' style='color: red;'>{{password_err}}</p>
    </label>
    <label>Verify Password:
        <input name='verify' type='password'/><p class='error' style='color: red;'>{{verify_err}}</p>        
    </label>
    <input type='submit' value="Sign Me Up"/>

</form>
    
{% endblock %}